doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title mq template
    link(rel="stylesheet" href="css/bootstrap.css")
    link(rel="stylesheet" href="css/font-awesome.min.css")
    link(rel="stylesheet" href="css/main.css")
  
  body
    .container-fluid
      .container.d-flex.justify-content-center.align-items-center
        h1.display-3 Title
  
  script(src="js/jquery.min.js")
  script(src="js/bootstrap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js")
  script(src="js/main.js")